body {
    background-color: #374151;
}

.header_item {
    font-family: "Roboto", "Open Sans";
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF
}

.topic, .date, .profession {
    font-family: "Roboto", "Open Sans";
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF
}

.author_name, .extra_text, .copyright {
    font-family: "Roboto", "Open Sans";
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF
}

.main_text {
    font-family: "Roboto", "Open Sans";
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF
}

.title {
    font-family: "Roboto", "Open Sans";
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF
}

.header_item {
    list-style: none;
}

.icon {
    background-color: #4B5563;
    color:#FFFFFF;
    font-family: "Source Code Pro", "Corbel";
    font-weight: 600;
    font-size: 18px;
    width: 35px;
    height: 35px;
    border-radius: 3px;


}

nav {
    margin-left: 180px;
    margin-top: 72px;

}

.search {
    background-color: #1F293799;
    color:#FFFFFF;
    font-family: "Roboto", "Open Sans";
    font-weight: 400;
    font-size: 16px;
    border-radius: 100px;
    width: 224px;
    height: 40px;
    padding-left: 49px;
    border: 0px;
}

.tags {
    margin-bottom: 14px;
}

.title {
    margin-bottom: 30px;
}

.author {
    margin-bottom: 28px;
}

#main_picture {
    margin-bottom: 69px;
}

.copyright {
    margin-top: 103px;
    margin-bottom: 77px;
}