body {
    background-color: #374151;
}

nav {
    margin: 71px 180px;
    display: flex;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header_menu {
    display: flex;
    align-items: center;
    flex: 1;
    column-gap: 50px;
    margin-right: 20px;
}

#icon {
    background-color: #4B5563;
    color: #FFFFFF;
    font-family: "Source Code Pro", "Corbel";
    font-weight: 600;
    font-size: 18px;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 11px;
}

.header_item {
    font-family: "Roboto", "Open Sans";
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    list-style: none;
}

#search {
    background-color: #1F293799;
    color: #FFFFFF;
    font-family: "Roboto", "Open Sans";
    font-weight: 400;
    font-size: 16px;
    border-radius: 100px;
    width: 224px;
    height: 40px;
    padding-left: 49px;
    border: 0px;
    margin-left: auto;
}


article {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-family: "Roboto", "Open Sans";
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

#tags {
    margin-bottom: 14px;
}

#topic,
#date,
#profession {
    font-family: "Roboto", "Open Sans";
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF99
}

#author>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

#author_name,
#extra_text {
    font-family: "Roboto", "Open Sans";
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF
}



#main_text {
    font-family: "Roboto", "Open Sans";
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF
}

#main_text,
#extra_text {
    width: 40%;
}

#author {
    margin-bottom: 28px;
    display: flex;
    align-items: center;
}

#main_picture {
    width: 896px;
    margin-bottom: 69px;
}

#description {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

#description>p {
    margin: 0px;
}

footer {
    display: flex;
    justify-content: center;
}

#copyright {
    color: #FFFFFF99;
    font-family: "Roboto", "Open Sans";
    font-weight: 400;
    font-size: 16px;
    margin-top: 103px;
    margin-bottom: 77px;
}